{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "java", "csharp", "sql", "html", "c", "json", "yml", "python", "shell"],
      "plugins": ["line-numbers"],
      "css": true
    }]
  ]
}
