/deep/ .article-content {
  font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif!important;
  line-height: 2.2;
  font-weight: 300;
  font-size: 15px;
  .mce-toc {
    margin-bottom: 15px;
    h2 {
      color: #3194d0!important;
      font-size: 18px!important;
      font-weight: 300!important;
    }
    ul {
      list-style: none!important;
      font-size: 14px!important;
    }
  }
  h2 {
    padding: 0px 0px 0.3em;
    margin: 24px 0px 16px;
    box-sizing: border-box;
    line-height: 1.25;
    border-bottom: 1px solid #eaecef;
  }
   h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: bold;
    font-family: "Open Sans","Microsoft Jhenghei","Microsoft Yahei",sans-serif !important;
  }
  a {
    color: #3194d0;
  }
  strong {
    font-family: "Open Sans","Microsoft Jhenghei","Microsoft Yahei",sans-serif !important;
  }

  ul, ol {
    padding: 0 20px;
  }

  blockquote {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    border-left: 5px solid #ccc;
    border-right: 2px solid #ccc;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
  }

  blockquote::before{
    content: "\201C"; /*左双引号的Unicode编码*/
    /*字体*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*位置*/
    position: absolute;
    left: 10px;
    top:5px;
  }
  blockquote::after{
    content: ""; /*如果要显示右双引号，则写 content: "\201D"; */
  }
}

