@import './transition.scss';

* {
  margin: 0px;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font: 13px/1.5 Arial,"宋体";
  color: #6a6a6a;
  background: url(../assets/site-bg.jpg) repeat;
  position: relative;
  z-index: 10;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
P {
  margin: 0;
}

/* 搜索域+表格*/
.search-form {
  /deep/ .el-form-item {
    margin-bottom: 0px !important;
  }
}
.operate-btn-group {
  margin: 10px 0px;
}
.table-represent {
  .table-pagination {
    margin: 10px 0;
  }
}
/* 空表格消除横向滚动条*/
.el-table__empty-block {
  width: 100% !important;
}

