@charset "utf-8";
// 点缀色：elementui主题色
$elementPrimaryColor: #a45915;
// 网站配色($primaryColor的对比色)
$contrastColor: #f6f6e7;
// 网站主色调
$primaryColor: #FFCCCC;

/* 改变主题色变量 */
$--color-primary: $elementPrimaryColor;
/* elementu所有组件的白底色*/
$--color-white: darken($primaryColor, 6%);

/* 表格自定义样式*/
$--table-header-color: $contrastColor;
$--table-header-background: darken($primaryColor, 16%);
$--table-text-color: lighten($contrastColor, 8%);
$--color-text-secondary: $--color-primary;
$--input-border: 1px solid darken($primaryColor, 20%);

/* 树组件自定义样式*/
$--tree-text-color: lighten($contrastColor, 10%);
$--tree-node-hover-color: darken($primaryColor, 20%);

/*对话框*/
$--color-info: $elementPrimaryColor;
$--color-text-regular: $contrastColor;

/*输入框*/
$--input-disabled-fill: darken($primaryColor, 10%);
$--input-disabled-border: darken($primaryColor, 12%);
$--input-disabled-color: darken($contrastColor, 12%);
$--input-focus-border: darken($contrastColor, 12%);
$--input-placeholder-color: darken($contrastColor, 10%);
// 箭头的颜色
$--select-input-color: $contrastColor;

/*下拉框*/
$--select-option-hover-background: darken($primaryColor, 15%);

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* elementui组件所有的样式文件*/
@import "~element-ui/packages/theme-chalk/src/index";

.cms-container {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color: lighten($primaryColor, 30%);
  // 输入框边框颜色
  .el-input__inner {
    border-color: darken($primaryColor, 12%);
  }
  // 表格不同行颜色
  .el-table--striped .el-table__body tr.el-table__row--striped {
    td {
      background: darken($primaryColor, 9%) !important;
    }
  }
  // 树节点选中
  .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: darken($primaryColor, 20%);
  }
  .el-tree .el-tree-node__content {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  // 遮罩层颜色
  .el-loading-mask {
    background: $primaryColor;
  }

  // 菜单下拉箭头大小默认12px
  .el-submenu__icon-arrow {
    font-size: 16px;
  }
  // 定义网站底色
  background: $contrastColor;
  // 网站头样式
  .navbar-container {
    background: {
      image: -webkit-gradient(linear, left top, right top, from(darken($primaryColor, 10%)), to(darken($primaryColor, 15%)));
      image: -webkit-linear-gradient(45deg, darken($primaryColor, 10%), darken($primaryColor, 15%) 50%, darken($primaryColor, 10%));
      image: -moz-linear-gradient(45deg, darken($primaryColor, 10%), darken($primaryColor, 15%) 50%, darken($primaryColor, 10%));
      image: linear-gradient(45deg,darken($primaryColor, 10%),darken($primaryColor, 15%) 50%, darken($primaryColor, 10%));
    }
    .information-date {
      color: lighten($primaryColor, 30%)
    }
  }
  // 定义左边栏颜色
  .sys-configure__sidebar {
    .menus-group--vertical {
      background: darken($primaryColor, 10%);
      .sidebar-menu {
        .sidebar-menu__item {
          background: $primaryColor;
          margin-bottom: 1px;
          .el-menu-item {
            border-top: 1px solid darken($primaryColor, 10%);
          }
        }
      }
      .el-submenu {
        &.is-opened {
          background: $primaryColor;
          .el-menu {
            background: $primaryColor;
          }
        }
        .el-menu {
          background: $primaryColor;
        }
      }
      .el-submenu__title {
        padding: 0 0 0 10px !important;
        &:hover {
          background-color: $primaryColor;
        }
        &:focus, &:hover {
          outline: 0;
          background-color: $primaryColor;
        }
        i {
          color: black;
        }
      }
      // 菜单聚焦时字体颜色
      .el-menu-item.is-active {
        color: $contrastColor;
      }
      // 菜单聚焦时背景色
      .el-menu-item:focus, .el-menu-item:hover, .el-menu-item.is-active {
        background: darken($primaryColor, 20%);;
        color: $contrastColor;
      }
    }
  }
  .cms-container__sidebar--hide {
    background: darken($primaryColor, 10%);
  }

  // 定义中间区域样式
  .cms-container__main, .cms-container__main--hide {
    // tab页颜色样式
    .tabs-container {
      background: darken($primaryColor, 10%);
      .tags-view-item {
        &.active {
          .el-tag {
            background-color: darken($primaryColor, 30%);
          }
        }
        .el-tag {
          background: $primaryColor;
          border: 1px solid darken($primaryColor, 16%);
          color: lighten($contrastColor, 10%);
          .el-icon-close {
            color: lighten($contrastColor, 10%);
          }
        }
      }
    }
    // main面板颜色样式
    .main-container {
      background: $primaryColor;
    }

  }
}


